body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400px;
	line-height: 1.5;
}
/* Reset style */
* {
	margin: 0;
	padding: 0;
}
a, a:hover, a:active, a:focus {
	text-decoration: none;
	outline: 0;
}
ul, li {
	margin: 0;
	padding: 0;
}
#Header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 14px 0;
	z-index: 999;
	transition: all 0.25s ease 0s;
}
#Header .logo a img {
	width: 80px;
}
#Header .menu-wrap {
	display: inline-block;
	position: relative;
	z-index: 9;
	padding-top: 12px;
}
#Header .menu {
	cursor: pointer;
}
#nav-icon1 {
  width: 35px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon1 span:nth-child(1) {
  top: 0px;
}
#nav-icon1 span:nth-child(2) {
  top: 11px;
}
#nav-icon1 span:nth-child(3) {
  top: 21px;
}
#nav-icon1.open span:nth-child(1) {
  top: 11px; 
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
#nav-icon1.open span:nth-child(3) {
  top: 11px; 
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
body.sticky #Header {
	background-color: rgba(0, 0, 0, 0.8);
	transition: all 0.25s ease 0s;
}
body.menu-active #Header .mobile-menu {
	display: block;
}
body.menu-active #Header .logo {
		position: relative;
		z-index: 99;
}
#Header .mobile-menu {
	background-color: rgba(0, 0, 0, 0.9);
	display: none;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}
#Header .mobile-menu ul {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}
#Header .mobile-menu ul li, #Header .mobile-menu ul li a {
	color: #fff;
	list-style: none;
	font: 400 18px/115% 'Open Sans', sans-serif;
	margin-bottom: 30px;
}
#Header .mobile-menu ul li a:hover {
	color: #19af83;
}
#HeroBanner {
	background: url(../images/banner.jpg)no-repeat 0 0 / cover;
	height: 630px;
	position: relative;
}
#BannerSlider {
	padding-top: 120px;
	position: static;
}
#BannerSlider .banner-img {
	padding-top: 30px;
}
#BannerSlider .banner-img img {
	width: auto;
}
#BannerSlider .banner-text {
	padding-top: 40px;
}
#BannerSlider .banner-text h1 {
	font: 500 30px/135% 'Open Sans', sans-serif;
	color: #fff;
	margin: 0 0 25px;
}
#BannerSlider .banner-text p {
	font: 400 18px/155% 'Open Sans', sans-serif;
	color: #fff;
	margin: 0 0 25px;
	transform: translate();
}
#BannerSlider .bannet-cta a {
	display: inline-block;
	padding: 10px 30px;
	background-color: #19af83;
	border-radius: 28px;
	color: #fff;
	transition: all 0.25s ease 0s;
	font: 400 16px/155% 'Open Sans', sans-serif;
}
#BannerSlider .bannet-cta a:hover {
	transition: all 0.25s ease 0s;
	background-color: #fff;
	color: #19af83;
}
#BannerSlider .bannet-cta .cta-1, #BannerSlider .bannet-cta .cta-2 {
	display: inline-block;
	margin-right: 15px;
}
#BannerSlider .owl-dots {
	display: block;
	text-align: center;
	position: absolute;
	bottom: 20px;
	width: 100%;
}
#BannerSlider .owl-dots .owl-dot {
	width: 14px;
	height: 14px;
	margin: 0 7px;
	background: #fff;
	display: inline-block;
	border-radius: 50%;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
#BannerSlider .owl-dots .owl-dot.active, #BannerSlider .owl-dots .owl-dot:hover {
	background: #19af83;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
#Laptop {
	padding: 45px 0;
	background-color: #efefef;
	position: relative;
}
#Laptop::before {
	background: url(../images/improve-business.jpg) no-repeat 0 0;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
}
#Laptop .laptop-text {
	padding-left: 12px;
}
#Laptop .laptop-text h2 {
	font: 500 26px/115% 'Open Sans', sans-serif;
	color: #333;
	margin: 0 0 30px;
}
#Laptop .laptop-text p {
	font: 400 16px/155% 'Open Sans', sans-serif;
	color: #333;
	margin: 0 0 30px;
}
#Laptop .laptop-text a {
	display: inline-block;
	padding: 10px 30px;
	background-color: #19af83;
	border-radius: 28px;
	color: #fff;
	transition: all 0.25s ease 0s;
	border: 1px solid #19af83;
	font: 400 16px/115% 'Open Sans', sans-serif;
}
#Laptop .laptop-text a:hover {
	transition: all 0.25s ease 0s;
	background-color: #fff;
	color: #19af83;
}
#Gain {
	padding: 45px 0;
}
#Gain .title {
	width: 70%;
	margin: 0 auto;
	padding-bottom: 30px;
}
#Gain .title h3 {
	font: 500 26px/115% 'Open Sans', sans-serif;
	color: #333;
	margin: 0 0 30px;
}
#Gain .title p {
	font: 400 16px/155% 'Open Sans', sans-serif;
	color: #333;
	margin: 0 0 30px;
}
#Gain .each-icon {
	background-color: #00a498;
	min-height: 450px;
	text-align: center;	
	cursor: pointer;
	position: relative;
}
#Gain .each-icon .icon-wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}
#Gain .each-icon .icon-wrap i {
	color: #fff;
	font-size: 100px;
}
#Gain .each-icon .icon-text {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	padding: 10px 20px;
	text-align: left;
	transition: all 0.5s;
	transform: translate(-50%, -50%);
	text-align: center;
}
#Gain .each-icon .icon-text h3 {
	color: #fff;
	margin: 0 0 15px;
	font: 700 20px/115% 'Open Sans', sans-serif;
}
#Gain .each-icon .icon-text p {
	color: #fff;
	margin: 0 0 15px;
	font: 400 18px/115% 'Open Sans', sans-serif;
}
#Gain .each-icon .icon-text .cta a {
	color: #fff;
	display: inline-block;
}
#Gain .each-icon .icon-text .cta i {
	color: #fff;
	font-size: 25px;
	position: relative;
	left: -15px;
	transition: all 0.3s;
}
#Gain .each-icon:hover .icon-text .cta a i {
	opacity: 1;
	left: 0;
	transition: all 0.3s;
}
#Gain .each-icon .icon-text .cta a:hover i {
	color: #006f65;
}
#Gain .each-icon:hover .icon-wrap {
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s;
}
#Gain .each-icon:hover .icon-text {
	visibility: visible;
	opacity: 1;
	transition: all 0.5s;
}
#Video {
	position: relative;
}
#Video .image-wrap img {
	width: 100%;
	height: auto;
}
#Video .video-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
#Video .video-icon h3 {
	font: 500 26px/115% 'Open Sans', sans-serif;
	color: #fff;
	margin: 0 0 30px;
}
#Video .video-icon i {
	font-size: 50px;
	color: #fff;
	transition: all 0.5s;
}
#Video .video-icon i:hover {
	color: #19af83;
	transition: all 0.5s;
}
#Video .video-icon p {
	font: 400 16px/115% 'Open Sans', sans-serif;
	color: #fff;
	margin: 0 0 25px;
}
#OurWork {
	padding: 45px 0 0;
}
#OurWork .title {
	width: 70%;
	margin: 0 auto;
	padding-bottom: 30px;
}
#OurWork .title h3 {
	font: 500 26px/115% 'Open Sans', sans-serif;
	color: #333;
	margin: 0 0 30px;
}
#OurWork .title p {
	font: 400 16px/155% 'Open Sans', sans-serif;
	color: #333;
	margin: 0 0 30px;
}
#OurWork .filter-list {
	text-align: center;
	padding-bottom: 30px;
}
#OurWork .filter-list li {
	display: inline-block;
	list-style: none;
	color: #333;
	font: 400 16px/115% 'Open Sans', sans-serif;
	padding: 0 20px;
	cursor: pointer;
}
#OurWork .filter-list li:hover, #OurWork .filter-list li.active {
	color: #19af83;
}
#OurWork .filter-box .each-box {
	width: 33.33%;
	float: left;
	position: relative;
	overflow: auto;
	-webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}
#OurWork .filter-box .each-box.media {
	display: block;
}
#OurWork .filter-box .scale-anm {
	transform: scale(1);
}
#OurWork .filter-box .each-box .each-box-img img {
	width: 100%;
	transition: all .2s ease-in;
}
#OurWork .filter-box .each-box:hover .each-box-img img {
	transition: all .2s ease-in;
	/*filter: blur(2px) hue-rotate(-47deg);*/
	transform: scale(1.1);
}
#OurWork .filter-box .each-box .each-box-text-wap {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);
	height: 100%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: .2s ease-in;
	transition: .2s ease-in;
}
#OurWork .filter-box .each-box:hover .each-box-text-wap {
	visibility: visible;
	opacity: 1;
	-webkit-transition: .2s all;
	transition: .2s all;
}
#OurWork .filter-box .each-box .each-box-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	width: 100%;
}
#OurWork .filter-box .each-box-text h3 {
	font: 500 26px/115% 'Open Sans', sans-serif;
	color: #fff;
	margin: 0 0 30px;
}
#OurWork .filter-box .each-box-text p {
	font: 400 16px/115% 'Open Sans', sans-serif;
	color: #fff;
	margin: 0 0 30px;
}
#OurWork .filter-box .each-box-text a {
	display: inline-block;
	-webkit-transition: .2s all;
	transition: .2s ease-in;
}
#OurWork .filter-box .each-box-text a i {
	color: #fff;
	-webkit-transition: .2s all;
	transition: .2s ease-in;
	position: relative;
	left: -15px;
	font-size: 28px;
	opacity: 0;
}
#OurWork .filter-box .each-box .each-box-text a:hover i {
	color: #19af83;
}
#OurWork .filter-box .each-box:hover .each-box-text a i {
	-webkit-transition: .25s all;
	left: 0;
	opacity: 1;
	transition: .25s all;
	font-size: 34px;
}
#OurWork .filter-box .each-box-text a:hover {
	-webkit-transition: .2s all;
	transition: .2s all;
}
/*ContactUs style begin*/
#ContactUs {
	padding: 70px 0;
}
#ContactUs .contact-title {
	font: 400 26px/115% 'Open Sans', sans-serif;
	color: #333;
	text-align: center;
	margin: 0 0 30px;
}
#ContactUs .contact-outer-wrapper {
	width: 100%;
	height: auto;
	display: table;
	margin: 0 auto;
}
#ContactUs .address-block {
	width: 40%;
	height: 100%;
	display: table-cell;
	color: #333;
	position: relative;
	padding: 40px;
}
#ContactUs .address-block::after {
  position: absolute;
  content: "";
  left: -1%;
  width: 1px;
  height: 80%;
  background: #ccc;
  top: 10%;
}
#ContactUs .add-title {
	font: 400 18px/115% 'Open Sans', sans-serif;
	font-weight: bold;
	margin: 0 0 50px;
	color: #333;
}
#ContactUs .c-detail {
	margin-bottom: 20px;
}
#ContactUs .c-detail:last-child {
	margin-bottom: 0;
}
#ContactUs .c-detail .c-icon {
  width: 12%;
  display: inline-block;
  font-size: 30px;
  vertical-align: top;
}
#ContactUs .c-detail .c-info {
	width: 86%;
	display: inline-block;
	vertical-align: top;
	color: #333;
}
#ContactUs .c-detail .c-info h4 {
	font-size: 20px;
}
#ContactUs .c-detail span .fa {
	vertical-align: top;
}
#ContactUs .c-detail a {
	color: #333;
}
#ContactUs .c-detail a:hover {
	color: #19af83;
}
#ContactUs .form-wrap {
	width: 60%;
	display: table-cell;
	padding: 40px;
}
#ContactUs .form-wrap p {
	font: 400 16px/145% 'Open Sans', sans-serif;
	color: #333;
	margin: 0 0 45px;
}
#ContactUs .form-wrap .floating-label {
	position: relative;
	width: 47%;
	display: inline-block;
	margin-bottom: 30px;
}
#ContactUs .form-wrap .fname, #ContactUs .form-wrap .contact {
	margin-right: 20px;
}
#ContactUs .form-wrap .user-msg {
	width: 98%;
	display: block;
	margin-bottom: 40px;
}
#ContactUs .floating-input {
	width: 100%;
	border: 0;
	border-bottom: 1px solid #999999;
	box-shadow: none;
	background-color: transparent;
	padding-top: 3px;
}
#ContactUs .floating-input:focus {
	outline: 0;
	border-bottom: 1px solid #19af83;
}
#ContactUs .form-wrap label {
	position: absolute;
	top: 0;
	left: 0;
	font: 400 14px/115% 'Open Sans', sans-serif;
	text-align: left;
	color: #999999;
	transition: top 0.2s ease-in-out;
	z-index: -1;
}
#ContactUs .floating-input:focus ~ label, #ContactUs .floating-input.not-empty ~ label {
	top: -18px;
	font: 400 12px/115% 'Open Sans', sans-serif;
  color:#19af83;
  transition: top 0.2s ease-in-out;
}
#ContactUs .submit-btn {
	text-align: center;
}
#ContactUs .submit-btn button {
	font: 400 16px/115% 'Open Sans', sans-serif;
	border: 0;
	border-radius: 0;
	background-color: #19af83;
	color: #fff;
	padding: 10px 30px;
	cursor: pointer;
	outline: 0;
	border-radius: 28px;
	color: #fff;
	border: 1px solid #19af83;
	transition: all 0.25s ease 0s;
}
#ContactUs .submit-btn button:hover {
	background-color: #fff;
	color: #19af83;
	transition: all 0.25s ease 0s;
}
/*ContactUs style end*/
/*Footer style begin*/
#Footer {
	padding: 75px 0 50px;
	background-color: #000;
}
#Footer .footer-text p {
	font: 400 16px/155% 'Open Sans', sans-serif;
	color: #fff;
	margin: 0 0 30px;
}
#Footer .footer-text p.designed {
	font-size: 12px;
	text-align: left;
	margin-bottom: 0;
}
#Footer .footer-text p.designed a {
	color: #19af83;
}
#Footer .footer-text p.designed a:hover {
	color: #29e4ad;
}
#Footer .footer-text .email-box {
	padding-bottom: 100px;
}
#Footer .footer-text .email-box form {
	display: inline-block;
	position: relative;
	z-index: 9;
}
#Footer .footer-text .email-box label {
	position: absolute;
	top: 0;
	left: 0;
	font: 400 16px/155% 'Open Sans', sans-serif;
	text-align: left;
	color: #fff;
	transition: top 0.2s ease-in-out;
	z-index: -1;
}
#Footer .footer-text .email-box input:focus ~ label, #Footer .footer-text .email-box .not-empty ~ label {
	top: -18px;
  font: 400 14px/155% 'Open Sans', sans-serif;
  color:#19af83;
  transition: top 0.2s ease-in-out;
}
#Footer .footer-text .email-box input {
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	font: 400 16px/115% 'Open Sans', sans-serif;
	color: #fff;
	padding: 5px 40px 5px 0;
	transition: all 0.25s ease 0s;
	box-shadow: none;
	outline: none;
}
#Footer .footer-text .email-box input:focus {
	border-bottom: 1px solid #19af83;
	transition: all 0.25s ease 0s;
}
#Footer .footer-text .email-box input.submit {
	background: url(../images/email-box-arrow.png) no-repeat 0 5px;
	padding: 0px 4px;
	border: 0;
	position: absolute;
	top: 2px;
	right: 3px;
	cursor: pointer;
	width: 20px;
}
#Footer .footer-text .social-share ul li {
	display: inline-block;
	list-style: none;
	margin-right: 15px;
}
#Footer .footer-text .social-share ul li a, .social-share ul li a i {
	color: #fff;
	font-size: 18px;
}
.social-share ul li a:hover i {
	color: #19af83;
} 
#Footer .footer-text .copy-right p {
	margin: 0;
	font: 400 16px/115% 'Open Sans', sans-serif;
	color: #fff;
	text-align: left;
}
/*Footer style end*/